/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

li {
  list-style: none;
}

body { 
  margin: 0 auto;
  width: 980px;
  background: rgba(239, 250, 232, 0.5); 

}

h1 {
  font-style: Helvetica;
  float: center;
}

h1.sale {
  position: center;
  font-size: 3em;
  font-family: Helvetica;
}
h3 {
  padding: 5px;
  color: goldenrod;
  border: 1px;
  font-size: 1.5em;
  float: right;
}

div, h1, h3, form {
  margin: 30px;
}

form.search {
  position: relative;
  right: 20px;
  float: right;

}

img.image {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 20px;
  position: relative;

}

h3 {
  word-wrap:break-word;
  position:  relative;
  float: right;
  border-radius:15px;
  box-shadow:inset 0px 0px 20px rgba(0,0,0,1);
}


div#user_header {
  font-size: 30px;
}

span {
  font-size: 1.5em;
}