<form class="search">
  <fieldset>
    <legend>Search</legend>
    <label for="title">
      Item:
      <input type="search" name="title" placeholder="Burberry coat">
    </label>

    <button>Search</button>
  </fieldset>

</form>